<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous" defer></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Ricette</title>
</head>
<body>
<div class="container text-center">
<h1>Le nostre ricette</h1>
<hr>
    <!--AGGIUNGI UN'ALTRA RICETTA ALLA LISTA-->
    <div>
        <a class="btn btn-primary" th:href="@{/ricette/create}">Aggiungi una nuova ricetta</a>
    </div>
    <!-- CARD PER LE RICETTE -->
        <div class="row">
            <div class="col-3" th:each="ricetta : ${recipes}">
                <div class="card" style="" >
                    <img th:src="${ricetta.foto}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${ricetta.title}"></h5>
                        <p class="card-text" th:text="${ricetta.description}"></p>
                        <a class="btn btn-primary" th:href="@{/ricette/show/{id}(id=${ricetta.id})}">
                            <i class="fa-solid fa-book"></i>
                        </a>
                        <a th:href="@{/ricette/edit/{id}(id=${ricetta.id})}" class="btn btn-primary"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <form
                                th:action="@{/ricette/delete/{id}(id=${ricetta.id})}" method="POST">
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>







</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>